<div class="jumbotron">
  <h1>Dinner Time!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Put out the shout, share the food about.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Learn more!</a></p>
</div>
