<p>This is the meals view.</p>
<div ng-controller="MealsCtrl">
    <form class="form-horizontal">
        <input type="text" ng-model="searchTerm">
        <button class="btn" ng-click="doSearch()"><i class="icon-search"></i>Search</button>
    </form>
    <table class="table table-striped">
    	<tr>
    		<!-- <td> ID </td> -->
    		<h3>
	    		<td> Name </td>
	    		<td> Date / Time </td>
	    		<td> Hosted by </td>
	    		<td> Attended by </td>
	    		<td> Invited </td>
    		</h3>
    		<!-- <td> Location </td> -->
    	</tr>
        <tr ng-repeat="meal in data.meals">
            <!-- <td>{{meal.id}}</td> -->
            <td><h4><a ng-click="mealDetail(meal.id)">{{meal.name}}</h4></td>
            <td>{{meal.datetime | amDateFormat:'YYYY-MM-DDTHH:mm:ssZ'}}</td>
            <td>
	            <p ng-repeat='user in meal.hosted_by'> 
	            	<a href="/#/users/{{user.username}}">
	            		<img src="{{user.avatar_url}}">
	            	    {{user.first_name}}&nbsp;{{user.last_name}}&nbsp;({{user.username}})
	            	</a>
	            </p>
            </td>
            <td>
	            <p ng-repeat='user in meal.attended_by'> 
	            	<a href="/#/users/{{user.username}}">
	            		<img src="{{user.avatar_url}}">
	            	    {{user.first_name}}&nbsp;{{user.last_name}}&nbsp;({{user.username}})
	            	</a>
	            </p>
            </td>
            <td>
	            <p ng-repeat='user in meal.invited'> 
	            	<a href="/#/users/{{user.username}}">
	            		<img src="{{user.avatar_url}}">
	            	    {{user.first_name}}&nbsp;{{user.last_name}}&nbsp;({{user.username}})
	            	</a>
	            </p>
            </td>
            <!-- <td>{{meal.location}}</td> -->
        </tr>
    </table>
</div>