<p>This is the meal view.</p>
<table class="table table-striped">
	<tr>
		<!-- <td> ID </td> -->
		<h3>
    		<td> Name </td>
    		<td> Date / Time </td>
    		<td> Hosted by </td>
    		<td> Attended by </td>
    		<td> Invited </td>
    		<td> Location </td>
		</h3>
	</tr>
	<tr>
		<!-- <td>{{meal.id}}</td> -->
		<td><h4>{{data.meal.name}}</h4></td>
		<td>{{data.meal.datetime | amDateFormat:'YYYY-MM-DDTHH:mm:ssZ'}}</td>
		<td>
		    <p ng-repeat='user in data.meal.hosted_by'> 
		    	<a href="/#/users/{{user.username}}">
		    		<img src="{{user.avatar_url}}">
		    	    {{user.first_name}}&nbsp;{{user.last_name}}&nbsp;({{user.username}})
		    	</a>
		    </p>
		</td>
		<td>
		    <p ng-repeat='user in data.meal.attended_by'> 
		    	<a href="/#/users/{{user.username}}">
		    		<img src="{{user.avatar_url}}">
		    	    {{user.first_name}}&nbsp;{{user.last_name}}&nbsp;({{user.username}})
		    	</a>
		    </p>
		</td>
		<td>
		    <p ng-repeat='user in data.meal.invited'> 
		    	<a href="/#/users/{{user.username}}">
		    		<img src="{{user.avatar_url}}">
		    	    {{user.first_name}}&nbsp;{{user.last_name}}&nbsp;({{user.username}})
		    	</a>
		    </p>
		</td>
		<td>{{data.meal.location}}</td> 
	</tr>
</table>