<p>This is the users view.</p>
<div ng-controller="UsersCtrl">
    <form class="form-horizontal">
        <input type="text" ng-model="searchTerm">
        <button class="btn" ng-click="doSearch()"><i class="icon-search"></i>Search</button>
    </form>
    <table class="table table-striped">
    	<tr>
	    	<h3>
	    		<!-- <td> ID </td> -->
	    		<td>  </td>
	    		<td> Username </td>
	    		<td> First Name </td>
	    		<td> Last Name </td>
	    	</h3>
	    </tr>
        <tr ng-repeat="user in data.users">
        	<!-- <td> {{ user.id }} </td> -->
        	<td><img src="{{ user.avatar_url }}"> </td>
        	<td> {{ user.username }} </td>
        	<td> {{ user.first_name }} </td>
        	<td> {{ user.last_name }} </td>
        </tr>
    </table>
</div>